<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrimeirApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D505E37B1EB7B49B006704E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D505E38F1EB7B49B006704E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D505E39A1EB7B49B006704E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
